<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @metric.name %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @metric.purpose %>
</p>

<p>
  <strong>Definition:</strong>
  <%= @metric.definition %>
</p>

<%= link_to 'Edit', edit_metric_path(@metric) %> |
<%= link_to 'Back', metrics_path %>
